.u-block-b78b-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-b78b-3 {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
}

.u-block-b78b-4 {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
}

 .u-section-1-1 {
  min-height: 840px;
}

.u-section-1-1 .u-layout-wrap-1 {
  margin-top: 14px;
  margin-bottom: 60px;
}

.u-section-1-1 .u-image-1 {
  background-image: url("images/img_bg_1.jpg");
  background-position: 50% 7.77%;
  min-height: 753px;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1-1 {
    min-height: 708px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 621px;
  }
}

@media (max-width: 991px) {
   .u-section-1-1 {
    min-height: 563px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 476px;
  }
}

@media (max-width: 767px) {
   .u-section-1-1 {
    min-height: 444px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 357px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1-1 {
    min-height: 312px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 225px;
  }
}.u-block-d72b-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-d72b-3 {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
}

.u-block-d72b-4 {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
}

.u-section-2-1 .u-sheet-1 {
  min-height: 840px;
}

.u-section-2-1 .u-layout-wrap-1 {
  width: 1280px;
  margin: 60px -70px;
}

.u-section-2-1 .u-image-1 {
  background-image: url("images/331182334_1843663379353044_1518297344796039170_n1.jpg");
  background-position: 50% 50%;
  min-height: 720px;
}

.u-section-2-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2-1 .u-image-2 {
  min-height: 720px;
  background-image: url("images/331222532_733108678491345_6951400895069538447_n2.jpg");
}

.u-section-2-1 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-2-1 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2-1 .u-image-1 {
    min-height: 529px;
  }

  .u-section-2-1 .u-image-2 {
    min-height: 529px;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-2-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2-1 .u-image-1 {
    min-height: 683px;
  }

  .u-section-2-1 .u-image-2 {
    min-height: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 1213px;
  }

  .u-section-2-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2-1 .u-image-1 {
    min-height: 512px;
  }

  .u-section-2-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-1 .u-image-2 {
    min-height: 608px;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 817px;
  }

  .u-section-2-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2-1 .u-image-1 {
    min-height: 322px;
  }

  .u-section-2-1 .u-image-2 {
    min-height: 383px;
  }
}.u-block-8de8-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-8de8-3 {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
}

.u-block-8de8-4 {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
}

.u-section-3-1 .u-sheet-1 {
  min-height: 807px;
}

.u-section-3-1 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 30px 538px 0 0;
}

.u-section-3-1 .u-layout-wrap-1 {
  width: 1337px;
  margin: 44px auto 28px -76px;
}

.u-section-3-1 .u-image-1 {
  min-height: 662px;
  background-image: url("images/319516211_824536871956132_1474500983025414109_n.jpg");
  background-position: 50% 50%;
}

.u-section-3-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3-1 .u-layout-cell-2 {
  min-height: 662px;
}

.u-section-3-1 .u-container-layout-2 {
  padding: 0 10px;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 1166px;
  }

  .u-section-3-1 .u-text-1 {
    margin-right: 338px;
    margin-left: 58px;
  }

  .u-section-3-1 .u-layout-wrap-1 {
    margin-top: 636px;
    position: relative;
    width: 940px;
    margin-left: 0;
  }

  .u-section-3-1 .u-image-1 {
    min-height: 465px;
  }

  .u-section-3-1 .u-layout-cell-2 {
    min-height: 465px;
  }
}

@media (max-width: 991px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 1605px;
  }

  .u-section-3-1 .u-text-1 {
    margin-right: 118px;
  }

  .u-section-3-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3-1 .u-image-1 {
    min-height: 683px;
  }

  .u-section-3-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 1533px;
  }

  .u-section-3-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3-1 .u-image-1 {
    min-height: 512px;
  }

  .u-section-3-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 1178px;
  }

  .u-section-3-1 .u-layout-wrap-1 {
    margin-top: -72px;
    width: 340px;
  }

  .u-section-3-1 .u-image-1 {
    min-height: 322px;
  }
}.u-block-e770-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-e770-3 {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
}

.u-block-e770-4 {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
}

.u-section-4-1 .u-sheet-1 {
  min-height: 807px;
}

.u-section-4-1 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 30px 550px 0 0;
}

.u-section-4-1 .u-layout-wrap-1 {
  width: 1337px;
  margin: 44px auto 28px -76px;
}

.u-section-4-1 .u-image-1 {
  min-height: 662px;
  background-image: url("images/319516211_824536871956132_1474500983025414109_n.jpg");
  background-position: 50% 50%;
}

.u-section-4-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4-1 .u-layout-cell-2 {
  min-height: 662px;
}

.u-section-4-1 .u-container-layout-2 {
  padding: 0 10px;
}

@media (max-width: 1199px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 1166px;
  }

  .u-section-4-1 .u-text-1 {
    margin-right: 350px;
    margin-left: 58px;
  }

  .u-section-4-1 .u-layout-wrap-1 {
    margin-top: 636px;
    position: relative;
    width: 940px;
    margin-left: 0;
  }

  .u-section-4-1 .u-image-1 {
    min-height: 465px;
  }

  .u-section-4-1 .u-layout-cell-2 {
    min-height: 465px;
  }
}

@media (max-width: 991px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 1605px;
  }

  .u-section-4-1 .u-text-1 {
    margin-right: 130px;
  }

  .u-section-4-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4-1 .u-image-1 {
    min-height: 683px;
  }

  .u-section-4-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 1533px;
  }

  .u-section-4-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4-1 .u-image-1 {
    min-height: 512px;
  }

  .u-section-4-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 1178px;
  }

  .u-section-4-1 .u-layout-wrap-1 {
    margin-top: -72px;
    width: 340px;
  }

  .u-section-4-1 .u-image-1 {
    min-height: 322px;
  }
}.u-block-cf1f-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-cf1f-3 {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
}

.u-block-cf1f-4 {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
}

.u-section-5-1 .u-sheet-1 {
  min-height: 850px;
}

.u-section-5-1 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 30px 431px 0 0;
}

.u-section-5-1 .u-layout-wrap-1 {
  width: 1337px;
  margin: 44px auto 60px -76px;
}

.u-section-5-1 .u-image-1 {
  min-height: 662px;
  background-image: url("images/319516211_824536871956132_1474500983025414109_n.jpg");
  background-position: 50% 50%;
}

.u-section-5-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5-1 .u-layout-cell-2 {
  min-height: 662px;
}

.u-section-5-1 .u-container-layout-2 {
  padding: 0 10px;
}

@media (max-width: 1199px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 1166px;
  }

  .u-section-5-1 .u-text-1 {
    margin-right: 231px;
    margin-left: 58px;
  }

  .u-section-5-1 .u-layout-wrap-1 {
    margin-top: 636px;
    position: relative;
    width: 940px;
    margin-left: 0;
  }

  .u-section-5-1 .u-image-1 {
    min-height: 465px;
  }

  .u-section-5-1 .u-layout-cell-2 {
    min-height: 465px;
  }
}

@media (max-width: 991px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 1605px;
  }

  .u-section-5-1 .u-text-1 {
    margin-right: 11px;
  }

  .u-section-5-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5-1 .u-image-1 {
    min-height: 683px;
  }

  .u-section-5-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 1533px;
  }

  .u-section-5-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5-1 .u-image-1 {
    min-height: 512px;
  }

  .u-section-5-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 1178px;
  }

  .u-section-5-1 .u-layout-wrap-1 {
    margin-top: -72px;
    width: 340px;
  }

  .u-section-5-1 .u-image-1 {
    min-height: 322px;
  }
}.u-block-235a-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-235a-3 {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
}

.u-block-235a-4 {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
}

.u-section-6-1 .u-sheet-1 {
  min-height: 850px;
}

.u-section-6-1 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 30px 514px 0 0;
}

.u-section-6-1 .u-layout-wrap-1 {
  width: 1337px;
  margin: 44px auto 60px -76px;
}

.u-section-6-1 .u-image-1 {
  min-height: 662px;
  background-image: url("images/319516211_824536871956132_1474500983025414109_n.jpg");
  background-position: 50% 50%;
}

.u-section-6-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6-1 .u-layout-cell-2 {
  min-height: 662px;
}

.u-section-6-1 .u-container-layout-2 {
  padding: 0 10px;
}

@media (max-width: 1199px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 1166px;
  }

  .u-section-6-1 .u-text-1 {
    margin-right: 314px;
    margin-left: 58px;
  }

  .u-section-6-1 .u-layout-wrap-1 {
    margin-top: 636px;
    position: relative;
    width: 940px;
    margin-left: 0;
  }

  .u-section-6-1 .u-image-1 {
    min-height: 465px;
  }

  .u-section-6-1 .u-layout-cell-2 {
    min-height: 465px;
  }
}

@media (max-width: 991px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 1605px;
  }

  .u-section-6-1 .u-text-1 {
    margin-right: 94px;
  }

  .u-section-6-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6-1 .u-image-1 {
    min-height: 683px;
  }

  .u-section-6-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 1533px;
  }

  .u-section-6-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6-1 .u-image-1 {
    min-height: 512px;
  }

  .u-section-6-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 1178px;
  }

  .u-section-6-1 .u-layout-wrap-1 {
    margin-top: -72px;
    width: 340px;
  }

  .u-section-6-1 .u-image-1 {
    min-height: 322px;
  }
}.u-block-61bb-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-61bb-3 {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  right: auto;
}

.u-block-61bb-4 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: auto;
  right: calc(((100% - 1140px) / 2)  + -149px);
}

@media (max-width: 1199px) {
  .u-block-61bb-4 {
    right: calc(((100% - 940px) / 2)  + -123px);
  }
}

@media (max-width: 991px) {
  .u-block-61bb-4 {
    right: calc(((100% - 720px) / 2)  + -94px);
  }
}

@media (max-width: 767px) {
  .u-block-61bb-4 {
    right: calc(((100% - 540px) / 2)  + -70px);
  }
}

@media (max-width: 575px) {
  .u-block-61bb-4 {
    right: calc(((100% - 340px) / 2)  + -44px);
  }
}

.u-section-7-1 .u-sheet-1 {
  min-height: 807px;
}

.u-section-7-1 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 30px 731px 0 0;
}

.u-section-7-1 .u-layout-wrap-1 {
  width: 1337px;
  margin: 44px auto 28px -76px;
}

.u-section-7-1 .u-image-1 {
  min-height: 662px;
  background-image: url("images/319516211_824536871956132_1474500983025414109_n.jpg");
  background-position: 50% 50%;
}

.u-section-7-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7-1 .u-layout-cell-2 {
  min-height: 662px;
}

.u-section-7-1 .u-container-layout-2 {
  padding: 0 10px;
}

@media (max-width: 1199px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 1166px;
  }

  .u-section-7-1 .u-text-1 {
    margin-right: 531px;
    margin-left: 58px;
  }

  .u-section-7-1 .u-layout-wrap-1 {
    margin-top: 636px;
    position: relative;
    width: 940px;
    margin-left: 0;
  }

  .u-section-7-1 .u-image-1 {
    min-height: 465px;
  }

  .u-section-7-1 .u-layout-cell-2 {
    min-height: 465px;
  }
}

@media (max-width: 991px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 1605px;
  }

  .u-section-7-1 .u-text-1 {
    margin-right: 311px;
  }

  .u-section-7-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7-1 .u-image-1 {
    min-height: 683px;
  }

  .u-section-7-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 1533px;
  }

  .u-section-7-1 .u-text-1 {
    margin-right: 131px;
  }

  .u-section-7-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7-1 .u-image-1 {
    min-height: 512px;
  }

  .u-section-7-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 1178px;
  }

  .u-section-7-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7-1 .u-layout-wrap-1 {
    margin-top: -72px;
    width: 340px;
  }

  .u-section-7-1 .u-image-1 {
    min-height: 322px;
  }
}.u-block-10a8-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-10a8-3 {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  right: auto;
}

.u-block-10a8-4 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: auto;
  right: calc(((100% - 1140px) / 2)  + -149px);
}

@media (max-width: 1199px) {
  .u-block-10a8-4 {
    right: calc(((100% - 940px) / 2)  + -123px);
  }
}

@media (max-width: 991px) {
  .u-block-10a8-4 {
    right: calc(((100% - 720px) / 2)  + -94px);
  }
}

@media (max-width: 767px) {
  .u-block-10a8-4 {
    right: calc(((100% - 540px) / 2)  + -70px);
  }
}

@media (max-width: 575px) {
  .u-block-10a8-4 {
    right: calc(((100% - 340px) / 2)  + -44px);
  }
}

.u-section-8-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-8-1 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 30px 731px 0 0;
}

.u-section-8-1 .u-layout-wrap-1 {
  width: 1337px;
  margin: 44px auto 28px -76px;
}

.u-section-8-1 .u-image-1 {
  min-height: 662px;
  background-image: url("images/319516211_824536871956132_1474500983025414109_n.jpg");
  background-position: 50% 50%;
}

.u-section-8-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8-1 .u-layout-cell-2 {
  min-height: 662px;
}

.u-section-8-1 .u-container-layout-2 {
  padding: 0 10px;
}

@media (max-width: 1199px) {
  .u-section-8-1 .u-sheet-1 {
    min-height: 1166px;
  }

  .u-section-8-1 .u-text-1 {
    margin-right: 531px;
    margin-left: 58px;
  }

  .u-section-8-1 .u-layout-wrap-1 {
    margin-top: 636px;
    position: relative;
    width: 940px;
    margin-left: 0;
  }

  .u-section-8-1 .u-image-1 {
    min-height: 465px;
  }

  .u-section-8-1 .u-layout-cell-2 {
    min-height: 465px;
  }
}

@media (max-width: 991px) {
  .u-section-8-1 .u-sheet-1 {
    min-height: 1605px;
  }

  .u-section-8-1 .u-text-1 {
    margin-right: 311px;
  }

  .u-section-8-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8-1 .u-image-1 {
    min-height: 683px;
  }

  .u-section-8-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8-1 .u-sheet-1 {
    min-height: 1533px;
  }

  .u-section-8-1 .u-text-1 {
    margin-right: 131px;
  }

  .u-section-8-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8-1 .u-image-1 {
    min-height: 512px;
  }

  .u-section-8-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8-1 .u-sheet-1 {
    min-height: 1178px;
  }

  .u-section-8-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-8-1 .u-layout-wrap-1 {
    margin-top: -72px;
    width: 340px;
  }

  .u-section-8-1 .u-image-1 {
    min-height: 322px;
  }
}.u-block-a835-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-a835-3 {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  right: auto;
}

.u-block-a835-4 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: auto;
  right: calc(((100% - 1140px) / 2)  + -149px);
}

@media (max-width: 1199px) {
  .u-block-a835-4 {
    right: calc(((100% - 940px) / 2)  + -123px);
  }
}

@media (max-width: 991px) {
  .u-block-a835-4 {
    right: calc(((100% - 720px) / 2)  + -94px);
  }
}

@media (max-width: 767px) {
  .u-block-a835-4 {
    right: calc(((100% - 540px) / 2)  + -70px);
  }
}

@media (max-width: 575px) {
  .u-block-a835-4 {
    right: calc(((100% - 340px) / 2)  + -44px);
  }
}

.u-section-9-1 .u-sheet-1 {
  min-height: 807px;
}

.u-section-9-1 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 30px 731px 0 0;
}

.u-section-9-1 .u-layout-wrap-1 {
  width: 1337px;
  margin: 44px auto 28px -76px;
}

.u-section-9-1 .u-image-1 {
  min-height: 662px;
  background-image: url("images/319516211_824536871956132_1474500983025414109_n.jpg");
  background-position: 50% 50%;
}

.u-section-9-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9-1 .u-layout-cell-2 {
  min-height: 662px;
}

.u-section-9-1 .u-container-layout-2 {
  padding: 0 10px;
}

@media (max-width: 1199px) {
  .u-section-9-1 .u-sheet-1 {
    min-height: 1166px;
  }

  .u-section-9-1 .u-text-1 {
    margin-right: 531px;
    margin-left: 58px;
  }

  .u-section-9-1 .u-layout-wrap-1 {
    margin-top: 636px;
    position: relative;
    width: 940px;
    margin-left: 0;
  }

  .u-section-9-1 .u-image-1 {
    min-height: 465px;
  }

  .u-section-9-1 .u-layout-cell-2 {
    min-height: 465px;
  }
}

@media (max-width: 991px) {
  .u-section-9-1 .u-sheet-1 {
    min-height: 1605px;
  }

  .u-section-9-1 .u-text-1 {
    margin-right: 311px;
  }

  .u-section-9-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-9-1 .u-image-1 {
    min-height: 683px;
  }

  .u-section-9-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-9-1 .u-sheet-1 {
    min-height: 1533px;
  }

  .u-section-9-1 .u-text-1 {
    margin-right: 131px;
  }

  .u-section-9-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-9-1 .u-image-1 {
    min-height: 512px;
  }

  .u-section-9-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9-1 .u-sheet-1 {
    min-height: 1178px;
  }

  .u-section-9-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-9-1 .u-layout-wrap-1 {
    margin-top: -72px;
    width: 340px;
  }

  .u-section-9-1 .u-image-1 {
    min-height: 322px;
  }
}